<div class="container">
  <div class="row">
      <div class="col-md-6">
          <div class="todolist not-done">
           <h5>Todos (Do double click on todo for edit)</h5>
              <input type="text" class="form-control add-todo" placeholder="Add todo" #todo (keydown.enter)="addTodo(todo)">
              <br>
                  <button class="btn btn-success" (click)="addTodo(todo)">Add</button><br>
                  <hr>
                  <ul id="sortable" class="list-unstyled">
                    <ng-container *ngFor="let item of todos; index as i; let edit = false">
                      <li class="ui-state-default" *ngIf="item.status == 'active'">
                          <div class="checkbox">
                              <label><input type="checkbox" (change)="updateStatus(i)" value="" /></label>
                              <input type="text" *ngIf="edit" (blur)="edit = false; updateTodo(item)" #editinput (keydown.enter)="editinput.blur()" [(ngModel)]="item.title">
                              <span *ngIf="!edit" (dblclick)="edit = true">{{ item.title }}</span>
                              <button (click)="deleteTodo(i)" class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button>
                          </div>
                      </li>
                    </ng-container>
              </ul>
          </div>
      </div>
      <div class="col-md-6">
          <div class="todolist">
           <h1>Already Done</h1>
              <ul id="done-items" class="list-unstyled">
                <ng-container *ngFor="let item of todos; index as i">
                  <li *ngIf="item.status == 'complete'">{{ item.title }} <button (click)="deleteTodo(i)" class="remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove"></span></button></li>
                </ng-container>
              </ul>
          </div>
      </div>
  </div>
</div>
